/bin
/source/tools/.vs
/source/tools/Compiler/.vs

/research/old/TestProject/.vs
/research/old/TestProject/out
/research/old/tools_cmake/.vs
/research/old/tools_cmake/out/build
/research/stage2/tools/.vs
/research/tools/.vs
/research/stage2/tools/Compiler/.vs
/research/stage2/tools/Compiler/.vs/Compiler
/research/yacc/.vs
/research/yacc/bin
/research/yacc/yacc/.vs
/research/alink/.vs
/research/alink/bin
/research/tools/bin
/research/tools/tools/.vs
/research/JWasm/.vs
/research/JWasm/bin
/research/bin
/research/JWasmCrash/.vs
/research/JWasmCrash/bin
/research/JWlink/.vs
/research/JWlink/bin
/research/JWasm/out
/research/possible/JWasm/out
/research/JWasm/Debug
/research/JWasm/TestResults
/source/tools - Copy
/source/tools-old/.vs
/source/tools/out
/source/tools/yacc/yacc/.vs
