/source/tools/Compler/.vs
/source/tools/Compiler/.vs
/source/tools/.vs
/bin/tools/Arguments/Debug
/bin/tools/Arguments/Release
/bin/tools/Compiler/Debug
/bin/tools/Compiler/Release
/bin/tools/Assembler/Debug
/bin/tools/Assembler/Release
